{% extends 'invoice/base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ absolute_url('/assets/invoice/default/data.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section>
            {{ include('invoice/default/component/info.html.twig') }}
        </section>
        <section class="contractors-component">
            {{ include('invoice/default/component/company.html.twig', { company: invoiceData.seller, title: 'invoice.company.seller'|trans }) }}
            {{ include('invoice/default/component/company.html.twig', { company: invoiceData.buyer, title: 'invoice.company.buyer'|trans }) }}
        </section>
        <section>
            {{ include('invoice/default/component/payment.html.twig') }}
        </section>
        <section>
            {{ include('invoice/default/component/table.html.twig') }}
        </section>
        <section>
            <div class="signature-component">
                {{ 'invoice.signature.authorized_person'|trans }}
            </div>
        </section>
    </main>
{% endblock %}
