<ol>
    <li class="highlight-list-item">{{ 'invoice.title'|trans }}: {{ invoiceData.number }}</li>
    <li>{{ 'invoice.release.date'|trans }}: {{ invoiceData.release.date|date("d.m.Y") }}</li>
    <li>{{ 'invoice.release.place'|trans }}: {{ invoiceData.release.place }}</li>
    <li>{{ 'invoice.execute.date'|trans }}: {{ invoiceData.executeDate|date("d.m.Y") }}</li>
</ol>