<table>
    <thead>
        <tr>
            <th>{{ 'invoice.table.countable_number'|trans }}</th>
            <th>{{ 'invoice.table.product_service_name'|trans }}</th>
            <th>{{ 'invoice.table.price'|trans }}</th>
        </tr>
    </thead>
    <tbody>
    {% for invoiceItem in invoiceData.invoiceItems %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ invoiceItem.name }}</td>
            <td>{{ invoiceItem.netAmount }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2" class="bold-right">
                <span>{{ 'invoice.table.sum'|trans }} (PLN)</span>
            </td>
            <td>{{ invoiceData.netAmountSum }}</td>
        </tr>
    </tfoot>
</table>